:root {
    --p: #00695C;
    --p-light: #B2DFDB;
}

.metric-number {
    box-shadow: 10px -10px 10px -10px inset var(--p-light);
}

.top-wrapper {
    max-width: 200px;
}

.filter-btn {
    cursor: pointer;
}